body{
   text-align: center;   
}
.input{
   width: 180%;
   height: 40px;
   border-radius: 40px;
   padding-left: 70px;
   font-size: 17px;
   top: 150%;
}
.james1{
   position: absolute;
   top: 36%;
   left: 39%;
   font-size: 90px;
}
.james2{
   position: absolute;
   top: 55%;
   left: 25%;
}
.mic{
   position: absolute;
   top: 54%;
   left: 68%;
}
.mail{
   position: absolute;
   top: 2.2%;
   left: 78%;
}
.image{
   position: absolute;
   top: 2.2%;
   left: 83%;
}
.sign{
   position: absolute;
   top: 4.5%;
   left: 91%;
   background-color:dodgerblue;
   border: none;
   height: 22px;
}
.about{
   position: absolute;
   top: 1%;
   left: 3%;
}
.store{
   position: absolute;
   top: 1%;
   left: 8%;
}
.goggle{
   position: absolute;
   top: 65%;
   left: 42%;
   height: 25px;
   border: none;
}
.lucky{
   position: absolute;
   top: 65%;
   left: 50%;
   height: 25px;
   border: none;
}
.ad{
   position: absolute;
   top: 93%;
   left: 2%;
}
.bus{
   position: absolute;
   top: 93%;
   left: 10%;
}
.how{
   position: absolute;
   top: 93%;
   left: 16%;
}
.pri{
   position: absolute;
   left: 85%;
   top: 93%;
}
.term{
   position: absolute;
   top: 93%;
   left: 95%;
}
.setting{
   position: absolute;
   top: 93%;
   left: 90%;

}
.last{
   position: absolute;
   top: 92.2%;
   background-color:rgb(221,214,214);
   padding-right: 99.3%;
   padding-bottom: 15px;
   color: rgb(107,105,105);
}
   